name: CI-CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  ci-cd:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build
        run: echo "Build success"

      - name: Test
        run: echo "Tests passed"

      # Step 4: Deploy using WSL
      - name: Deploy (CD)
        run: |
          # Make deploy.sh executable inside WSL
          wsl chmod +x /mnt/d/DevOps_Interview_question/cloud-free-ci-cd/cloud-free-ci-cd/deploy.sh
          # Run the deploy script inside WSL
          wsl /mnt/d/DevOps_Interview_question/cloud-free-ci-cd/cloud-free-ci-cd/deploy.sh
