name: CI-CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  ci-cd:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build
        run: echo "Build success"

      - name: Test
        run: echo "Tests passed"

      - name: Deploy
        run: D:\DevOps_Interview_question\cloud-free-ci-cd\cloud-free-ci-cd\deploy.ps1
